header {
	width:100%; /* Establecemos que el header abarque el 100% del documento */
	overflow:hidden; /* Eliminamos errores de float */
	background: black;
    margin: 0;
    padding: 0;
	margin-bottom:20px;
    
}

.head {
	width:90%; /* Establecemos que el ancho sera del 90% */
	max-width:1000px; /* Aqui le decimos que el ancho máximo sera de 1000px */
	margin:auto; /* Centramos los elementos */
	overflow:hidden; /* Eliminamos errores de float */
    padding: 0;
    
}
.head figure {
	margin:0; 
}
.logo {
    width: 50px;
    line-height:50px;
    float:left;
    margin: 0;
    padding: 0;
}

nav {
    color:grey ;
    font:200;
    background-color:black;
    float:right;
	line-height:30px;
    margin-top: 10px;
    padding: 0;
}
nav a{
    color: white;
    text-decoration:none;
}
.main-nav{
    padding:0px;
    margin: 0;
}
.main-nav-item {
    font:bold;
    background-color: black;
    display:inline-block;
	text-decoration:none;
	padding:0px 50px;
	line-height:normal;
	font-size:20px;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}
.titulos{   
    float: left;
    width: 50%;
    margin: 100px 30px;
    text-align: center;
}
.boton{
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    border: 5px solid aqua;
    text-decoration: none;
    color:black;
    font: 400;
    background-color: lightseagreen;
}

body{
    background: linear-gradient(70deg, black, rgb(102, 6, 97));
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
h2 {
    color:white;
    font:bolder;
  

}   
h1 {
    color:white;
    font:large;
    

   
}
article {
    color:white;
    font:italic;
    
    margin-bottom: 50px;
}
section {
    background: linear-gradient(70deg, black, rgb(102, 6, 97));
}
.funko {
    width: 40%;
    padding: 0%;
}
footer{
    color:white;
    margin: auto;
    align-content: center;

}
.redesSociales{
    width: 30px;
    height: 30px;
   ;
}